<div class="w-full text-center">
  <h1 class="text-2xl">National Provider Identifier Search</h1>

  <div class="w-full mt-4 p-6 shadow-lg rounded-lg border border-slate-50">
    <%= form_with url: search_index_path, method: :get do |form| %>
      <%= form.text_field :search_key, placeholder: 'NPI'%>

      <%= form.submit 'Search' %>
    <% end %>

    <div id="results" class="w-full mt-12 mb-8">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th>NPI</th>
            <th>Address</th>
            <th>Type</th>
            <th>Taxonomy</th>
          </tr>
        </thead>

        <tbody>
          <% @result.each do |provider|  %>
            <tr>
              <td><%= provider.npi %></td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @result.empty? %>
      <span class="text-lg"> There's no records to show. </span>
    <% end %>
  </div>
</div>
